<h3>
  Add CSK Umpiring Schedule
</h3>

<div *ngIf="message!=''" class="alert alert-warning" role="alert">
  {{message}}
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Name</span>
  </div>
  <input #name (name)='0' type="text" class="form-control" placeholder="Enter Name" aria-label="name" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
  <span class="input-group-text" id="basic-addon1">Umpiring Date</span>
</div>
<input #date (change)='0' type="text" class="form-control" placeholder="Umpiring Date" aria-label="name" aria-describedby="basic-addon1">
</div>

<button type="button" (click)="addUmpiringSchedule(name.value,date.value)" class="btn btn-primary">Add</button>