<p>
  update-umpiring-schedule works!
</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">UmpiringDate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sched of schedule">
      <th scope="row">{{sched._id}}</th>
      <td>{{sched.name}}</td>
      <td>
        <input #date (change)='0' type="date" name="uDate">
        <button (click)=setDate(sched.name,date.value) type="button" class="btn btn-secondary">Update</button>
    </tr>
  </tbody>
</table>
